.main-heading {
    font-size: 24px;
    color: #635447;
    margin-bottom: 20px;
}
.admin-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: papayawhip;
    padding: 20px;
}

.admin-info {
    width: 100%;
}

.admin-info ul {
    list-style-type: none;
    padding: 0;
}

.admin-info li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
