.request-password-container,
.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: papayawhip;
}

.password-container h2 {
    margin-bottom: 20px;
    color: #635447;
    font-size: 24px;
    font-weight: 700;
}

.password-container input[type="email"],
.password-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.password-container button {
    width: 100%;
    padding: 12px;
    background-color: #625243;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.password-container button:hover {
    background-color: #8d7765;
}

.password-container .message {
    margin-top: 20px;
    color: #635447;
    font-size: 16px;
}

.password-container .error-message {
    margin-top: 20px;
    color: red;
    font-size: 16px;
}
