.calendar-container {
    background-color: papayawhip;
}

.calendar-area {
    flex: 1 1 100%;
    margin-left: 15px;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
    background-color: #635447 !important;
    border-color: #635447 !important;
}

.fc-prev-button:hover, .fc-next-button:hover, .fc-today-button:hover {
    background-color: #48392f !important;
    border-color: #48392f !important;
}

.fc-button-primary {
    background-color: #635447 !important;
    border-color: #635447 !important;
}

.fc-button-primary:hover {
    background-color: #48392f !important;
    border-color: #48392f !important;
}

.fc-event-title-container {
    background-color: #635447 !important;
    color: white !important;
}

.fc-event, .fc-event-draggable, .fc-event-resizable, .fc-event-start, .fc-event-end, .fc-event-future, .fc-daygrid-event, .fc-daygrid-block-event, .fc-h-event {
    border-color: #635447 !important;
    color: white !important;
    font-size: 14px;
}

.fc-scrollgrid-sync-inner {
    background-color: rgba(72, 57, 47, 0.82) !important;
}

.fc-daygrid-day-frame {
    background-color: rgba(255, 255, 255, 0.71) !important;
}

:root {
    --fc-today-bg-color: rgba(99, 84, 71, 0.5);
    --fc-event-border-color: #48392f;
}


.fc-daygrid-event-dot{
    color: #171717 !important;
}

.fc-event, .fc-event-draggable, .fc-event-resizable, .fc-event-start, .fc-event-end, .fc-event-future, .fc-daygrid-event, .fc-daygrid-dot-event
.fc-event-time, .fc-event-title, .fc-list-day-cushion, .fc-cell-shaded, .fc-dom-435-2024-05-17{
    color: #48392f !important;
}

.fc-theme-standard .fc-list-day-cushion {
    background-color: #635447 !important;
    color: white !important;
}
.fc-list {
    border: 1px solid #635447 !important;
}

.fc-col-header-cell-cushion, .fc-timegrid-axis-cushion, .fc-sticky{
    color: white !important;
}
.fc-event-main-frame, .fc-event-main{
    background-color: #48392f !important;
}
